@font-face {
  font-family: "Jetbrains";
  src: url("./assets/fonts/jetbrains-mono/jetbrains-mono-variable.ttf");
}

@import "tailwindcss";

@theme {
  --color-neongreen: #adff2f;
}

@keyframes carousel {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

@utility animate-carousel {
  animation: carousel 20s linear infinite;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.recharts-wrapper:focus,
.recharts-surface:focus {
  outline: none;
}

html {
  background-color: black;
}
